@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
html{
    scroll-behavior: smooth;
}

@media screen and (max-width: 400px) {
   *{
       text-align: center;
   }
}

body{
    background: #25222C;
    color:white ;
    font-family: 'Domine', serif;
}

.header{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
@media screen and (max-width: 400px) {
    .header{
        margin-top: 3rem;
    }
 }
.jumbotron{
    background-image: url('../images/header_back.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}
.jumbotron::after{
    content:"";
    display: block;
    width:100%;
    height: 100%;
    background-color: #25222C;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.9;
    z-index: 0;
}
.jumbotron > * {
    z-index: 10;
    position: relative;
}


.navbar{
    background-color: rgba(70,65,73, 0.7);
}

.nav-link{
    color: white;
    font-weight: 300;
    transition: all 0.3s;
}
.nav-link:hover{
    color: white;
    opacity: 0.6;
}

.navbar-toggler{
    z-index: 10;
    position: relative;
    color: white;
}
header h1 {
    font-size: calc(1rem + 5vw);
    font-weight: 100;
    color:#EE9E1D;

}
.jumbotron .btn{
    background-color: #EE9E1D;
    padding: 1rem;
    color: white;
}

.btn{
    transition: all 0.3s;
}

.btn:hover{
    opacity: 0.6;
}

header p {
    color:white
}

/*Main Section*/

/*ABOUT US*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

@media screen and (max-width: 780px) {

    .blog img{
        display: none;
    }
}
/*BLOG*/
.blog{
    background-color: #EE9E1D;
    position: relative;
}

.blog .hero-img{
    position: absolute;
    right: 2rem;
    top: 16rem;
}
.blog .second-img{
    position: absolute;
    bottom: -2rem;
    left:24rem
}



/*GALLERY*/
.gallery{
    margin-top: 5rem;
    margin-bottom: 8rem;
    width: 100%;
    height: 100%;
}



/*OFFERS*/
.offers{
    width: 100%;
    height: 100vh;
    background-image: url('../images/offer_img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    
}

.offers .box {
    background-color:#25222C ;
    box-sizing: border-box;
    padding: 2rem 2rem;
    border: 1rem solid #EE9E1D;
    border-radius: 1rem;
}

/*MENU*/

.menu{
    margin-top: 8rem;
    width: 100%;
    height: 100%;
}

.menu h2 , .menu h3 {
    color:#EE9E1D;
}

/*SERVICES*/
.services{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.inner-service{
    background-color: #EE9E1D;
    height: 50vh;
    width: 100%;
    position: relative;
}
.services .container .row{
    position: absolute;
    top: -5em;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 780px) {

    .services img{
        display: none;
    }
    .services .container .row{
        position: relative;
        top: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/*FOOTER*/

.contact{
    width: 100%;
    height: 100%;
    margin-bottom: 8rem;
}

.contact .nav{
    margin-top: 2rem;

}
.contact .nav a{
    transition: all 0.3s;
}
.contact .links i{
    margin-top: 1rem;
    color:white;
    transition: all 0.3s;
}

.contact .links i:hover{
    opacity: 0.6;
    transform: translateY(0.5rem);
}



